@model IEnumerable<WebApplicationProjetMVC.Models.Travailleur>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codePostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numRue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codePostal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numRue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idTrav }) |
            @Html.ActionLink("Details", "Details", new { id=item.idTrav }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idTrav })
        </td>
    </tr>
}

</table>
